{"name" "epsilon.xml"
 "version" "1.0.0"
 "description" "XML parsing and generation for Epsilon"
 "dependencies" ["epsilon.core"
                 "epsilon.regex"]
 "sources" ("src")
 "tests" ("tests")}
