{"name" "linux"
 "version" "1.0.0"
 "author" "Jesse Bouwman"
 "description" "Linux-specific functions (epoll networking, TLS support)"
 "platform" "linux"
 "sources" ("src")
 "tests" ("tests")
 "dependencies" ("epsilon.core" "epsilon.net")
 "provides" ("linux" "epsilon.net" "epsilon.tls")}