{"name" "windows"
 "version" "1.0.0"
 "author" "Jesse Bouwman"
 "description" "Windows-specific functions (IOCP networking)"
 "platform" "windows"
 "sources" ("src")
 "tests" ("tests")
 "requires" ("epsilon.core")
 "provides" ("windows" "epsilon.net")}